# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw 3D Assets and Archives
*.blend
*.blend1
*.fbx
*.obj
*.mtl
*.max
*.c4d

# Archives
*.zip
*.rar
*.7z
*.tar.gz

# Env files
.env
.env.local
.env.*.local
